/* FONTS */
@font-face {
  font-family: "Inter 28pt";
  src: url("/fonts/Inter28pt-SemiBold.woff2") format("woff2"),
      url("/fonts/Inter28pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 28pt";
  src: url("/fonts/Inter28pt-Medium.woff2") format("woff2"),
      url("/fonts/Inter28pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 28pt";
  src: url("/fonts/Inter28pt-Regular.woff2") format("woff2"),
      url("/fonts/Inter28pt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 28pt";
  src: url("/fonts/Inter28pt-Bold.woff2") format("woff2"),
      url("/fonts/Inter28pt-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


:root {
  --body-bg: #f1f4ff;
  --green-bg: #4dc490;
  --red-bg: #f03535;
  --purple-bg: #655AF2;
  --text-color: #fff;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: "Inter", "Arial", sans-serif;
  height: 100%;
  background-color: var(--body-bg);
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1192px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  padding-top: 80px;
  padding-bottom: 80px;
}


/* HERO */

.intro-page {
  display: flex;
}

.hero {
  --text-color: #fff;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 570px;
  border-radius: 20px;
  overflow: hidden;
  color: var(--text-color);
}

.hero-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  background-color: #555;
  background-image: url(/img/hero-bg.jpg);
  padding: 55px 60px;
}

.hero-badge {
  padding: 5px 15px;
  border-radius: 41px;
  border: 1px solid var(--text-color);
  font-size: 14px;
  line-height: normal;
  margin-bottom: 60px;
  font-weight: 500;
}

.hero-heading {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 46px;
}

.hero-tetx {
  margin-top: 0;
  font-size: 16px;
  line-height: 26px;
}

.hero-bottom {
  background-color: var(--green-bg);
  padding: 28px;
  text-align: center;
  font-size: 19px;
  line-height: normal;
}
